@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora:wght@400;500;600&display=swap');

:root{
    --font-1: 'Sora', sans-serif;;
    --font-2: 'Inter', sans-serif;
    --main-head: 120px;
    --color-100-dark: #060714;
    --color-90-dark: #262840;
    --color-80-dark: #7780A1;
    --color-4: #DDE0E8;
    --color-5: #F1F1F6;
    --color-6: #F2F3F6;
    --color-7: #2A27C9;
    --color-8: #514CFF;
    --color-9-10: #2a27c9;
    --color-10: #76DECC;
    --color-12: #EA6CBC;
    --color-13: #FB4539;
    --color-14: #fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-1);
}


/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
    color: var(--dark100);
    letter-spacing: 0.2px;
    font-weight: 600;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    font-size: 120px;
    margin: 35px 0;
}

h2 {
    font-size: 48px;
    line-height: 115%;
}

h3 {
    font-size: 40px;
    line-height: 125%;
}

h4 {
    font-size: 36px;
    line-height: 45px;
}

h5 {
    font-size: 32px;
    line-height: 40px;
}

h6 {
    font-size: 20px;
    line-height: 25px;
}
/* button */

.primary__btn{
    background-color: #4745D0;
    padding: 15px 25px;
    font-size: var(--ag-h7);
    color: var(--color-14);
    font-family: var(--font-1);
    cursor: pointer;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    margin: 0 20px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.secondry__btn{
    padding: 13px 25px;
    font-weight: 500;
    color: var(--color-80-dark);
    font-family: var(--font-1);
    cursor: pointer;
    font-size: var(--ag-h7);
    background-color: transparent;
    border: 2px solid var(--color-80-dark);
    border-radius: 12px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
}


.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}


.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 10px 30px;
    z-index: 100;
}

.navbar{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    cursor: pointer;
    margin-right: 10px;
}

.logo span{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font-1);
    letter-spacing: 0.3px;
    color: var(--color-100-dark);
}

.nav__menu li{
    list-style: none;
    display: inline-block;
    margin: 0 24px;
}

.nav__menu li a{
    text-decoration: none;
    color: var(--color-80-dark);
    font-size: 16px;
    font-weight: 500;
}

.btn{
    display: flex;
    align-items: center;
}

.menu__close{
    font-size: 0;
}


.menu__toggle{
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* responsive menu and repsonsive 768px */

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-80-dark);
        padding: 6.5rem 0 3rem;
        transition: top .6s;
        
    }

    .nav__menu li{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 25px 0 auto;
    }

    .nav__menu li a{
        color: var(--color-90-dark);
        font-size: 25px;
    }

    .btn{
        display: none;
    }
    
    .menu__close{
        position: absolute;
        right: 1.25rem;
        top: 1.35rem;
        cursor: pointer;
        font-size: 30px;
    }

    .menu__toggle{
        display: inline-flex;
        cursor: pointer;
    }
}